<p>現在時刻 : <%= @time %></p>
<h1>TimeTable(平日ダイヤ)</h1>
<table>
  <thead>
    <tr>
      <th>Time</th>
    </tr>
  </thead>

  <h2><%= !@next_bus.nil? ? @next_bus.starttime.strftime("%R") : "本日のバスは終了" %></h2>
  <h2>残り時間(分)　<%= @next_bus.nil? ? "なし" : @time_remaining %></h2>
  <tbody>
    <% @timedatas.each do |timedata| %>
      <tr>
        <td><%= timedata.starttime.strftime("%R")  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
