<p>現在時刻 : <%= @time %></p>
<h1>Weekday Bus Times</h1>
<table>
  <thead>
    <tr>
      <th>Time Table</th>
    </tr>
  </thead>

  <h2><%= !@next_bus.nil? ? "Next Departure Time is " + @next_bus.starttime.strftime("%R") : "Today is over." %></h2>
  <h2>Remaining Time : <%= @next_bus.nil? ? "None" : @time_remaining.to_s + "min" %></h2>
  <tbody>
    <% @timedatas.each do |timedata| %>
      <tr>
        <td><%= timedata.starttime.strftime("%R")  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
